//variables
@import "../utilidades/vars";
@import "../utilidades/mixing";
@import"../utilidades/extend";
/*------------estilos del main---------------*/
main{
    width: 100%;
    height: 100%;
    display: grid;
    background-color:$color-fondo;
    @extend %t-align;
    justify-items: center;
    img{
        @include imagenes(300px, 450px);
        
    }
    span{
        font-weight: bold;
        color: #fff;
    }
    /* estilos de clases*/
    .h3-home{
        color: #ffff00;
    }
    .home-h4{
        margin-bottom: 10px;
        color: #ffff00;
        margin-top: 5px ;
    }
    
    .div-home{
        @extend %t-align;
        @include imagenes(300px, 450px);
        
    }
    .gap-main{
        gap: 40px;
        flex-wrap: wrap;
    }
    .img-p{
        @extend %border;
        margin: 8px;
    }
    .precio{
        color: #ffff00;
    }
    .sobnos{
        font-weight: 700;
        font-size: 18px;
        color: $color-2;
    }
    .img-home{
        @extend %t-align;
        
        
    }
    .p-home{
        font-weight: bold;
    }
    .logo-home{
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
    }
    a{
        font-style: none;
        color: #d4d44f;
    }
}